.phome {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
    border: 1px solid green;
    position: absolute;
    bottom: 5px;
    width: 100%;
}