* {
    box-sizing: border-box;
    // font-family: belleza;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    background-color: var(--main-bg-clr);
    color: var(--main-font-clr);

    &.dark {
        --main-bg-clr: #888;
        --main-font-clr: rgb(106, 97, 76);
    }
}

h1 {
    font-family: berkshire;
}

button {
    font-size: 1.2em;
    color: white;
    background-color: $clr4;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    @include for-mobile-layout {
        font-size: 14px;
    }

    &:hover:not(.back-btn) {
        color: $clr1;
    }
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 5px;
    margin-block-end: 5px;
}


a {
    text-decoration: none;
    margin: 10px;
    color: rgb(88, 131, 125);
}

textarea {
    font-size: 16px;
    resize: none;
}