// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/animista";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";


// Pages
@import "pages/toy-app";
@import "pages/home-page";
@import "pages/about-page";
@import "pages/login-signup";
@import "pages/toy-details";
@import "pages/user-info";
@import "pages/review-info";


// Cmps
@import "cmps/app-header";
@import "cmps/user-msg";
@import "cmps/toy-list";
@import "cmps/toy-preivew";
@import "cmps/toy-edit";
@import "cmps/dashboard";
@import "cmps/star-rate";
@import "cmps/toy-filter";
@import "cmps/chat-app-toogle";
@import "cmps/app-header";
@import "cmps/app-footer";

@import "cmps/main-manu";

.color-container {
    position: relative;
}
.color-menu {
    display: flex;
    position: absolute;
    bottom: -33px;
    left: -120px;
    // background: rgba(157, 27, 223, 0.475);
    justify-content: space-between;
    border-radius: 5px;
}
.color-menu .color-input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 2px 10px;
    border: 1px solid #fff;
    display: inline-block;
    opacity: 0.5;
}
.color-menu .color-input:hover {
    transform: scale(1.1);
    opacity: 1;
}